body,
html{
	height: 100%;
	width: 100%;
}

body{
	background: url("shato.jpg") no-repeat center fixed;
	background-size: cover;
}
.header{
	margin-top: 60px;
	text-align: center;
	justify-content: center;
	color: white;
	
}

.first {
	background-color: #60385D;
	opacity: 0.6;
	padding-bottom: 5px;
}
.second{
	background-color: #D0E0ED;
	opacity: 0.6;

}
p{
	color:black;
}


.navbar-light{
	background-color:transparent;

}
	

.btn{
	font-family: Roboto,"Helvetica Neue",Arial,sans-serif;
	background-color: #60385D;
	color:white;
	font-size:20px;
	position: fixed;
     bottom: 20px;
     right: 50%;
  

}
